{% extends "admin/change_list.html" %}

{% block content %}
  <div>
    <div style="display: block;
                box-sizing: border-box;">
        <div id="netWorthChart"></div>
    </div>
    <div style="display: block;
                box-sizing: border-box;">
        <div id="investmentChart"></div>
    </div>
  </div>
  <script>
    const netWorthChart = {{ net_worth|safe }};
    const investmentChart = {{ investment|safe }};
    const netWorthEle = document.getElementById("netWorthChart");
    const investmentEle = document.getElementById("investmentChart");

    const netWorthData = netWorthChart.data;
    const netWorthLayout = netWorthChart.layout;
    const investmentData = investmentChart.data;
    const investmentLayout = investmentChart.layout;
    const config = { responsive: true };

    Plotly.newPlot('netWorthChart', netWorthData, netWorthLayout, config);
    Plotly.newPlot('investmentChart', investmentData, investmentLayout, config);
  </script>
{{ block.super }}
{% endblock %}