{% extends "admin/change_list.html" %}

{% block content %}
  <div style="display: flex;">
    <div style="display: block;
                box-sizing: border-box;
                height: 500px;
                width: 1500px;">
      <div id="investmentChart"></div>
    </div>
  </div>
  <script>
    const investmentChart = {{ investment|safe }};
    const investmentCtx = document.getElementById('investmentChart');

    const investmentData = investmentChart.data;
    const investmentLayout = investmentChart.layout;

    Plotly.newPlot('investmentChart', investmentData, investmentLayout);

  </script>

{{ block.super }}
{% endblock %}