django~=6.0.8
django-admin-multi-select-filter~=1.5.0
django-admin-rangefilter~=0.14.0
django-import-export~=4.4.0
djangorestframework~=3.18.0
flake8~=7.3.0
pandas~=3.0.1
pandas-stubs~=3.0.0.260204
dash~=4.4.1
plotly~=6.9.0
django-plotly-dash~=2.5.0
python-dotenv~=1.2.2
requests~=2.34.2
