django~=6.0.3
django-admin-multi-select-filter~=1.5.0
django-admin-rangefilter~=0.13.3
django-import-export~=4.4.0
djangorestframework~=3.17.1
flake8~=7.3.0
pandas~=3.0.1
pandas-stubs~=3.0.0.260204
plotly~=6.6.0
django-plotly-dash~=2.5.0
