{% extends "admin/change_list.html" %}

{% block content %}
    <h1 id="cashFlowTitle">Cash Flow</h1>
    <h2>{{ cash_flow }}</h2>
    <h1>Income</h1>
    <h2>{{ income }}</h2>
    <h1>Expense</h1>
    <h2>{{ expense }}</h2>
    <div>
        <div style="display: block;
                    box-sizing: border-box;">
            <div id="myExpenseChart"></div>
        </div>
        <div style="display: block;
                    box-sizing: border-box;">
            <div id="myIncomeChart"></div>
        </div>
    </div>
    <script>
        const expenseChart = {{ expense_chart|safe }};
        const incomeChart = {{ income_chart|safe }};
        const expenseEle = document.querySelector('#myExpenseChart');
        const incomeEle = document.querySelector('#myIncomeChart');

        const expenseData = expenseChart.data;
        const expenseLayout = expenseChart.layout;
        const incomeData = incomeChart.data;
        const incomeLayout = incomeChart.layout;

        Plotly.newPlot('myExpenseChart', expenseData, expenseLayout);
        Plotly.newPlot('myIncomeChart', incomeData, incomeLayout);
    </script>

    {{ block.super }}
  
{% endblock %}