{% extends "admin/change_list.html" %}

{% block content %}
  <div style="display: block;">
    <div style="display: block;
                box-sizing: border-box;
                height: 80%;
                width: 100%;">
        <div id="usageChart"></div>
    </div>
    <div style="display: block;
                box-sizing: border-box;
                height: 80%;
                width: 100%">
        <div id="costChart"></div>
    </div>
  </div>
  <script>
    const usageChart = {{ usage|safe }};
    const costChart = {{ cost|safe }};
    const usageChartEle = document.getElementById('usageChart');
    const costChartEle = document.getElementById('costChart');

    const usageData = usageChart.data;
    const usageLayout = usageChart.layout;
    const costData = costChart.data;
    const costLayout = costChart.layout;

    Plotly.newPlot('usageChart', usageData, usageLayout);
    Plotly.newPlot('costChart', costData, costLayout);
  </script>
{{ block.super }}
{% endblock %}